 /*ID 選擇器*/
 #title1{text-decoration:line-through}
            
 /*標籤名稱選擇器*/
 body{background-color:rgb(173, 205, 248);}

 /*class 選擇器*/
 .title{
     color: blue;
     text-decoration:underline;
     font-size:32px;
     font-weight:bold;
     margin-bottom:10px
 }
 .content{padding: 5px; width: 300px; color: rgb(221, 123, 2); border: 1px dashed black}
 .keyword{color:red}